<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.buaa.rec.dao.UserProjectManMapper">
  <resultMap id="BaseResultMap" type="cn.edu.buaa.rec.model.UserProjectMan">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="is_man" jdbcType="INTEGER" property="isMan" />
    <result column="isApproved" jdbcType="INTEGER" property="isapproved" />
  </resultMap>
  <insert id="insert" parameterType="cn.edu.buaa.rec.model.UserProjectMan">
    insert into user_project_man (id, user_id, project_id, 
      is_man, isApproved)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{projectId,jdbcType=BIGINT}, 
      #{isMan,jdbcType=INTEGER}, #{isapproved,jdbcType=INTEGER})
  </insert>
  
  <select id="selectProjectByUserId" resultType="Long" parameterType="Long">
     SELECT project_id
     FROM user_project_man
     WHERE user_id = #{userId} and isApproved=1
  </select>

  <select id="selectProjectByUserIdWithNoApproved" resultType="Long" parameterType="Long">
    SELECT project_id
    FROM user_project_man
    WHERE user_id = #{userId}
  </select>
  <update id="updateApproved" parameterType="Long">
    UPDATE user_project_man
    SET isApproved=1
    WHERE id=#{id}
  </update>

  <select id="selectUserByProjectId" resultType="Long" parameterType="java.util.List">
    SELECT user_id
    FROM user_project_man
    WHERE isApproved=0 AND project_id IN
    <foreach collection="projectIds" item="projectId" index="index" open="(" close=")"
             separator=",">
      #{projectId}
    </foreach>
  </select>
</mapper>