<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.buaa.rec.dao.DomainMapper">
    <resultMap id="BaseResultMap" type="cn.edu.buaa.rec.model.Domain">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="LONGVARCHAR"/>
        <result column="use_state" property="useState" jdbcType="VARCHAR"/>
        <result column="build_time" property="buildTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator_id" property="creatorId" jdbcType="BIGINT"/>
        <result column="isApproved" property="isapproved" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 根据id，查找该领域的全部信息 -->
    <select id="selectById" parameterType="Long" resultMap="BaseResultMap">
        SELECT *
        FROM domain
        WHERE NAME = #{id}
        LIMIT 1
    </select>

    <!-- 查找现有记录的最大id -->
    <select id="selectMaxId" resultType="Long">
        SELECT max(id)
        FROM domain
    </select>

    <!-- 根据name，查找该用户的全部信息 -->
    <select id="selectByName" parameterType="String" resultMap="BaseResultMap">
        SELECT *
        FROM domain
        WHERE NAME = #{name,jdbcType=VARCHAR}
        LIMIT 1
    </select>

    <insert id="insert" parameterType="cn.edu.buaa.rec.model.Domain">
        insert into domain (id, name, use_state,
          build_time, update_time, creator_id,
          isApproved, description)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{useState,jdbcType=VARCHAR},
          #{buildTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{creatorId,jdbcType=BIGINT},
          #{isapproved,jdbcType=INTEGER}, #{description,jdbcType=LONGVARCHAR})
    </insert>
</mapper>